.mrm-colorcoding-panel {
  padding-right:8px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 0 8px rgb(0,0,0,0.35);
  transition:background-color 0.2s linear;

  svg {
    font-size: 24px;
    vertical-align:text-bottom;
    padding-left:8px;
  }

  select {
    background:transparent;
    border:none;
    outline:none;
    padding:8px 0 8px 8px;
  }

  select:focus {
    outline:none;
  }
}

.mrm-colorcoding-panel:hover {
  background-color: rgba(255,255,255,1);
}

.a9s-annotationlayer.color-by-category {

  .a9s-annotation.ENTITY .a9s-inner,
  .a9s-annotation.ENTITY.selected .a9s-inner {
    stroke:#bf0707 !important;
  }

  .a9s-annotation.LABEL .a9s-inner,
  .a9s-annotation.LABEL.selected .a9s-inner {
    stroke: #3333b9 !important;;
  }

  .a9s-annotation.SYMBOL .a9s-inner,
  .a9s-annotation.SYMBOL.selected .a9s-inner {
    stroke:#137713 !important;
  }

}

.a9s-annotationlayer.color-by-progress {

  .a9s-annotation .a9s-outer,
  .a9s-annotation.selected .a9s-outer {
    display:none;
  }

  .a9s-annotation.unverified .a9s-inner,
  .a9s-annotation.unverified.selected .a9s-inner {
    stroke: rgba(0,0,0,0.45) !important;
    stroke-width:1px;
    fill: rgba(0,0,0,0.15);
  }

  .a9s-annotation.incomplete .a9s-inner,
  .a9s-annotation.incomplete.selected .a9s-inner {
    stroke: yellow !important;
    fill: #ffff0021;
    stroke-width: 3px;
    stroke-dasharray: 6 4;
  }

  .a9s-annotation.incomplete .a9s-outer,
  .a9s-annotation.incomplete.selected .a9s-outer {
    display:initial;
    stroke-width: 3px;
    stroke:rgba(0, 0, 0, 0.7) !important;
  }

  .a9s-annotation.verified .a9s-inner,
  .a9s-annotation.verified.selected .a9s-inner {
    stroke: green !important;
    stroke-width:4px;
    fill: rgba(0,100,0,0.5);
  }

}

.a9s-annotationlayer.color-by-grouped {

  .a9s-annotation.grouped .a9s-inner,
  .a9s-annotation.grouped.selected .a9s-inner {
    stroke:#be7d05 !important;
    fill:#be7d0557 !important;
  }

  .a9s-annotation.grouped.ordered .a9s-inner,
  .a9s-annotation.grouped.ordered.selected .a9s-inner {
    stroke: #008106 !important;
    fill: #00810657 !important;
  }

}

.a9s-annotationlayer.color-by-check {

  .a9s-annotation .a9s-inner,
  .a9s-annotation.selected .a9s-inner {
    stroke: #424242 !important;
  }

  .a9s-annotation.needs-check .a9s-inner,
  .a9s-annotation.needs-check.selected .a9s-inner {
    stroke:#f00e0e !important;
    fill:#f0057e0e !important;
  }

}
