.mrm-toolbar {  
  position: absolute;
  top: 85px;
  right: 30px;
  padding: 0;
  z-index: 999;
  background-color: rgba(255,255,255,0.5);
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 0 8px rgb(0,0,0,0.35);
  overflow:hidden;
  transition:background-color 0.2s linear;

  button.a9s-toolbar-btn {
    display:block;
    margin:0;
    border-radius:0;
  }

  button.a9s-toolbar-btn:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  button.a9s-toolbar-btn.active {
    background-color: rgba(0, 0, 0, 0.5);
  }

  button.a9s-toolbar-btn.active {

    * {
      stroke: rgba(255,255,255,0.6);
    }

    .handles circle {
      stroke-width:4px;
      fill:#000;
      stroke:#fff;
    }
  
  }

}

.mrm-toolbar:hover {
  background-color: rgba(255,255,255,1);
}