.a9s-annotationlayer {

  .a9s-annotation.editable .a9s-inner:hover {
    fill:rgba(255, 255, 255, 0.2);
  }

  .a9s-annotation.a9s-group-selected {

    .a9s-inner {
      fill:rgba(0, 0, 0, 0.2);
      stroke:#000;
      stroke-width:2px;
      stroke-dasharray:4;
      animation:dash 0.8s linear infinite;
    }

    .a9s-outer {
      stroke:#fff;
      stroke-width:2px;
    }

    @keyframes dash {
      to {
        stroke-dashoffset:8;
      }
    }

  }

  .a9s-annotation .a9s-group-order {

    rect {
      fill:#fff;
      stroke:#333;
      stroke-width:2px;
    }

  }

  .a9s-annotation.a9s-group-selected.selected .a9s-inner:hover {
    fill:rgba(0, 0, 0, 0.2);
  }

}

.a9s-grouplayer {

  rect.a9s-group-border {
    fill:none;
    stroke:rgba(0,0,0,0.6);
    stroke-width:1px;
  }

}

.r6o-editor .r6o-widget.group-plugin {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:8px 10px;

  .group-status {
    font-size:20px;

    label {
      font-size:16px;
    }

    label.not-grouped {
      color:#727272;
    }

    label.order {
      display:inline-block;
      font-family:Arial;
      font-size:14px;
    }

    svg {
      margin-right:6px;
      vertical-align:middle;

      path {
        stroke:#727272;
      }
    
    }
  }

  .change-order,
  .buttons button {
    background:none;
    border:none;
    outline:none;
    color:#4f92d7;
    cursor:pointer;
    text-decoration:underline;
    font-size:14px;
  }

  .buttons {

    button.group-ordered {

      svg {
        vertical-align:text-top;
        padding-right:2px;
        font-size:16px;
      }

    }

  }

}