.r6o-g8r-search {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.6);
  display:flex;
  justify-content:center;
  z-index:99999;

  .r6o-g8r-search-modal {
    position:absolute;
    top:10%;
    bottom:10%;
    width:80%;
    margin:0 auto;
    background-color:#fff;
    border-radius:3px;
    box-shadow:2px 2px 42px rgb(0, 0, 0, 0.4);
    overflow:hidden;
    
    header {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:42px;
      border-bottom: 1px solid #e5e5e5;

      input {
        margin:5px;
        border:1px solid #e5e5e5;
        padding:4px 25px 4px 6px;
        background-color:#ecf0f1;
        border-radius:2px;
        width:315px;
      }

      input:focus {
        border-color:#4f92d7;
        box-shadow:none;
      }

      button {
        position:absolute;
        right:10px;
        top:8px;
        font-size:24px;
        margin:0;
        padding:0;
        cursor:pointer;
        outline: none;
        background: none;
        border: none;

        svg {
          color:#9ca4b1;
        }
      }

    }

    main {
      position:absolute;
      top:43px;
      left:0;
      bottom:0;
      width:100%;
      display:flex;
      flex-direction:row;

      aside {
        width:320px;
        height:100%;
        position:relative;

        .r6o-g8r-search-results-totals {
          color: #9ca4b1;
          padding:10px 20px 10px 10px;
          border-bottom:1px solid #e5e5e5;
          height:46px;
          box-sizing:border-box;
          font-size:15px;
          display:flex;
          flex-direction:row;
          justify-content:space-between;

          svg {
            padding-right:5px;
          }

          span {
            display:flex;
            align-items:center;
          }
        }

        .r6o-g8r-search-results-list {
          position:absolute;
          width:100%;
          top:46px;
          bottom:0;
          overflow-y:scroll;
          box-shadow:inset 1px 4px 12px -6px rgb(0 0 0 / 25%);

          ul {
            list-style-type:none;
            padding:0;
            margin:0;
          }

          li {
            border-bottom:1px solid #e5e5e5;
            padding:10px;
            cursor:pointer;

            h3 {
              margin:0;
              padding:0;
              white-space:nowrap;
              text-overflow:ellipsis;
              overflow:hidden;
              font-size:17px;
              font-weight:normal;
              line-height:21px;
            }

            p {
              margin:0;
              padding:0;
              font-size:14px;
              line-height:18px;
              overflow:hidden;
              white-space:nowrap;
              text-overflow:ellipsis;
              color:#767676;
            }

          }

          li:hover {
            background-color:rgba(0, 0, 0, 0.015);
          }

        }

      }

      .r6o-g8r-search-map-container {
        flex:1;
        position:relative;

        .leaflet-container {
          width:100%;
          height:100%;
        }
      }

    }

  }

}