body {
  display:flex;
  flex-direction:column;
}

#image-pane button {
  cursor:pointer !important;

  // TODO remove later
  .r6o-btn svg {
    cursor:pointer;
  }

}

.r6o-editor {
  width:450px !important;
  font-family:PTSansNarrow !important;

  .r6o-widget textarea {
    font-family:PTSansNarrow !important;
    font-size:16px;
  }

  .r6o-widget.r6o-tag .r6o-autocomplete input {
    font-family:'PTSansNarrow';
    font-size:16px;
    padding-left:7px;
    letter-spacing: 1px;
    outline:none;
  }

  .r6o-footer {
    cursor:move;
  }

}

.r6o-editor textarea:focus {
  box-shadow:none;
}

#image-pane {
  flex:1;
  position:relative !important;
  top:auto;
  right:auto;
  bottom:auto;
  left:auto;
  margin-left:210px;

  svg {
    // Don't ask me why - but Firefox this needs this,
    // otherwise the canvas sometimes collapses to 0x0
    // on updates.
    min-width:10px;
    min-height:10px;
  }
  
}

.a9s-annotationlayer {
  outline:none;

  .a9s-annotation,
  .a9s-selection,
  .a9s-annotation.selected.improved-polygon,
  .a9s-selection.improved-polygon {
  
    .a9s-inner {
      stroke:#000;
      stroke-width:2px;
      stroke-dasharray:none;
    }

    .a9s-outer {
      stroke-width:5px;
      stroke:rgba(255, 255, 255, 0.5);
      stroke-linejoin:round;
    }    
  
  }

  .a9s-selection:hover,
  .a9s-annotation.selected:hover {

    .a9s-inner {
      stroke:#000;
    }

  }

  .a9s-annotation:not(.hover):hover .a9s-inner {
    stroke:#000;
  }

  .a9s-selection.tilted-box,
  .a9s-annotation.tilted-box {

    .a9s-tilted-box-baseline {

      // Note: the !important flags can go after the next plugin release

      .a9s-inner {
        stroke:#fff;
        stroke-width:3px !important;
      }

      .a9s-outer {
        stroke:#000;
        stroke-width:6px !important;
      }
    
    }

    .a9s-minor-handle {
      stroke:#000 !important;
      stroke-width:4px !important;
    }

    .a9s-minor-handle:hover {
      fill:#fff !important;
    }

  }

  .a9s-selection, 
  .a9s-annotation.selected,
  .a9s-annotation.selected.improved-polygon,
  .a9s-selection.improved-polygon {
 
    .a9s-handle {

      .a9s-handle-inner {
        fill:#000;
        stroke:#fff;
        stroke-width:2px;
      }

      .a9s-handle-outer {
        stroke:#000;
        stroke-width:6px;
      }
    
    }

    .a9s-handle:hover {

      .a9s-handle-inner {
        fill:#fff;
      }

    }

  }

  .a9s-annotation.a9s-point {

    .a9s-inner {
      display:none;
    }

    .a9s-outer {
      fill:#fff;
      stroke:#000;
      stroke-width:2px;
    }

  }

}

#image-pane .openseadragon-canvas {
  outline:none;
}