body {
  display:flex;
  flex-direction:column;
}

.r6o-editor {
  font-family:PTSansNarrow !important;
}

.r6o-editor textarea:focus {
  box-shadow:none;
}

#image-pane {
  flex:1;
  position:relative !important;
  top:auto;
  right:auto;
  bottom:auto;
  left:auto;
  margin-left:210px;
}

#image-pane .openseadragon-canvas {
  outline:none;
}