body {
  display:flex;
  flex-direction:column;
}

.r6o-editor {
  font-family:PTSansNarrow !important;
}

.r6o-editor textarea:focus {
  box-shadow:none;
}

#image-pane {
  flex:1;
  position:relative !important;
  top:auto;
  right:auto;
  bottom:auto;
  left:auto;
  margin-left:210px;

  .a9s-annotation.ENTITY {
    
    .a9s-outer {
      stroke-width:4px;
      stroke:black;
    }

    .a9s-inner {
      stroke-width:2px;
      stroke:red;
    }

  }

  .a9s-annotation.LABEL {

    .a9s-outer {
      stroke-width:4px;
      stroke:black;
    }

    .a9s-inner {
      stroke-width:2px;
      stroke:blue;
    }

  }

  .a9s-annotation.SYMBOL {

    .a9s-outer {
      stroke-width:4px;
      stroke:black;
    }

    .a9s-inner {
      stroke-width:2px;
      stroke:green;
    }

  }

}

#image-pane .openseadragon-canvas {
  outline:none;
}