.mrm-classify-widget {
  display:flex;
  flex-direction:row;
  margin:0;
  padding:0;

  button {
    flex: 1;
    background-color:transparent;
    border:none;
    outline:none;
    padding:10px;
    font-size:16px;
    font-family:PTSansNarrow;
    color:#003051;
    cursor:pointer;
    border-width:1px;
    border-style:solid;
    border-color:transparent #e5e5e5 transparent transparent;
  }

  button:hover {
    background-color:#ecf0f1;
  }

  button:last-child {
    border-color:transparent;
  }

  button.entity.selected {
    background-color:#fdeee0;
    box-shadow:inset 0 0 24px #ff7800;
    border-color:#eda25f;
  }

  button.label.selected {
    background-color:#e6eaff;
    box-shadow:inset 0 0 24px #8099ff;
    border-color:#748efb;
  }

  button.symbol.selected {
    background-color:#c3ffb0;
    box-shadow:inset 0 0 24px #2ab900;
    border-color:#28ad01;
  }

}