.mrm-classify-widget {
  display:flex;
  flex-direction:row;
  margin:0;
  padding:0;

  button {
    flex:1;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    font-size:18px;
    background-color:transparent;
    border:none;
    outline:none;
    padding:10px;
    font-family:PTSansNarrow;
    color:#003051;
    cursor:pointer;
    border-width:1px;
    border-style:solid;
    border-color:transparent #e5e5e5 transparent transparent;

    span {
      font-size:16px;
      display:block;
      padding-left:8px;
    }
  }

  button:hover {
    background-color:#ecf0f1;
  }

  button:last-child {
    border-color:transparent;
  }

  button.selected {
    color:#fff;
  }

  button.entity.selected {
    background-color:#d65353;
  }

  button.label.selected {
    background-color:#5d5dff;
  }

  button.symbol.selected {
    background-color:#009000;
  }

}