.r6o-widget.mrm-colorpicker-widget {
  padding: 10px;
  display: flex;

  .mrm-colorpicker-toggle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .mrm-colorpicker-wrapper {
    position: absolute;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 1px 3px 28px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    overflow: hidden;

    .react-colorful__saturation {
      border-radius: 0;
    }

    .react-colorful__hue.react-colorful__last-control {
      border-radius: 0;
    }

    section {
      border-bottom: 1px solid #e5e5e5;
    }

    input {
      width: 200px;
      box-sizing: border-box;
      padding: 8px;
      color: #474747;
      font-size: 15px;
      background-color: #f5f7f7;
    }

    footer {
      padding: 8px;
      text-align: right;

      button {
        outline: none;
        border: none;
        text-decoration: underline;
        background: none;
        color: #4483c4;
        font-size: 14px;
      }

      button:disabled {
        color: #a9bbcf;
      }
    }

  }

}